@font-face {
    font-family: 'Maven';
    src: url('path/to/Maven-Regular.ttf') format('truetype'); 
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Maven', sans-serif;
    color: #000000;
    background-color: antiquewhite;
}

header {    
    position: fixed;
    background-color: antiquewhite;
    top: 0;
    left: 0;
    width: 100%;   
    padding: 10px 0; 
    z-index: 1000;   
      
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #000000;
    padding: 3px;
}

a:hover {
    color: white;
}

li {
    list-style: none;
}

#links a {
       
}

#links a:hover {
    color: white;
}

.card {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    margin-bottom: 20px; 
  }
  
  .card p {
    margin: 0;
  }
  

#socials{
    text-decoration: none;
}

#logo img {
    max-width: 120px;
    height: 120px;
    background-color: transparent;
}

.discography {
    display: flex;
    justify-content: space-evenly;    
}

.titles {
    display: flex;
    justify-content: center;
}

.discography div {
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin-bottom: 20px; 
}

.discography h5 {
    padding-top: 5px;    
}

.biography {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    padding: 10px;
}

.biography p {
    font-size: 18px;
    padding-top: 5px;
}

div {
    margin-top: 10px;    
}

#mars{
    height: 800px;
    width: 100%;
}

.photos {
    display: flex;
    justify-content: row;
}

.discography img {
    width: 250px;
    height: 250px;        
}

#pink {
    background-color: pink;
}

#black {
    background-color: #000000;
}

#green {
    background-color: green;
}

@media screen and (max-width: 600px) {
    .discography {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 600px) {
    #socials li {
        display: inline;        
    }
}